@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    background-image: url(images/bg-header-desktop.png);
}
    /*HISTORY SECTION*/
.history{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-align: center;}
    h1{
    font-family:  "Bai Jamjuree", sans-serif;
    font-weight: 600;}
    .history p{
    margin-top: 20px;
    white-space-collapse:preserve;
    }
    p{
    font-family:  "Bai Jamjuree", sans-serif;
    Font-size: 1.1em;
    color:  hsl(210, 10%, 33%);
   
    }
    span{
    margin-top: 30px;}

    button{
    padding: 0.8em 1.5em 0.8em 1.5em;
    border-radius: 20px;
    font-family:  "Bai Jamjuree", sans-serif;
    color: white;
    border: none;
    margin-right:16px;}

    button:hover{
        cursor: pointer;
    }
    


    /* TRACK SECTION*/
    .track{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5em;}

    .track p{
        margin-top: 10px;
        white-space-collapse: preserve;
       /* width: 55%; */
    }

    /* PICTURE + TEXT SECTION*/
    .products{
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(27rem, 1fr));
    margin-top: 40px;
   
    /*margin-top: 5em; */}

    .column{
   /* width: fit-content; */
    padding-top: 10px;
    border: 1px solid black;
    margin: auto;
   
    }

     .quicksearch ,.iCloud ,.History{
        margin-top: 35px;
        font-size: 1.1em;
    }
    .column p{
        margin-top: 5px;
    }
    .column h1{
        font-size: 1.4em;
    } 


    .column-image img{
        width: 100%;
       /* max-width: 37rem; */
        margin-top: 20px;
    }

    .column-image{
    border: 1px solid black;
    margin: auto;
    
    }

   /* ACCESS SECTION*/ 
    .access{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 4em; }

    .access p{
        width: 58%;
        margin-top: 10px;
    }

    .access img{
    width: 40rem;
    max-width: 100%;
    margin-top: 30px;}

    /* TEXT SECTION*/

    .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   
    }

    .info p{
        margin-top: 10px;

    }

    /* SUPERCHARGE SECTION*/
    .supercharge{
    margin-top: 4em;
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(20em, 1fr)); 
    }

    .actions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;}

    .actions img{
        width: 15%;
    }

    .actions h1 ,p{
        margin-top: 20px;
    }

    /* BRANDS SECTION*/
    .brands{
      /*  background-color: aquamarine; */
    margin-top: 8rem;
    display: grid;
   /* padding-left: 40px;
    padding-right: 40px; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12em, 1fr)); 
    grid-gap: 2em;

    }

    .logo{
        padding-left: 20px;
        }

    /* CLIPBOARDS SECTION*/
    .clipboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 6em; }

    .clipboard p{
        /*width: 53%; */
        white-space-collapse: preserve;
    }

    /* FOOTER SECTION*/
    .footer{
    margin-top: 4em;
    background-color: hsla(201, 11%, 66%, 0.2);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
   }

    .image {
   display: flex;
   justify-content: center;
   align-items: center;}

    .image img{
    width: 30%;
    padding: 10px;}

    .content{
    display: flex;
    justify-content: center;
    flex-direction: column;}

   .FAQ{
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 0.4em;
    align-items: center;} 


    .Privacy{
    display: flex;
    justify-content: center;
    padding-left: 10px;
    flex-direction: column;
    line-height: 0.4em; 
    align-items: center;} 


    .Install{
    display: flex;
    justify-content: center;
    padding-left: 10px;
    flex-direction: column;
    align-items: center;} 

    .icons {
    display: flex;
    justify-content: center;
    align-items: center;}

    .icons i{
    margin: 5px;}

    i:hover{
    color: hsl(171, 66%, 44%);
    cursor: pointer;}

.footer p:hover{
    color: hsl(171, 66%, 44%);
    cursor: pointer;}

    /*RESPOSNSIVENESS */
    @media screen and (max-width:480px) and (min-width:320px){
        
        button{
            margin-right:0px;
           margin-bottom: 20px;
           padding: 0.8em 5em 0.8em 5em;
            }
        .column{
            grid-template-columns: 1fr;
           text-align: center;
        }
        .column-image img{
            max-width: 100%;
        }
        
        .products{
            grid-template-columns: 1fr;
        }
        
        .access img{
            max-width: 100%;
        }
        
        .supercharge{
            grid-template-columns: 1fr;
            row-gap: 40px;
        }
        
        .brands{
            grid-template-columns: 1fr;
            margin-top: 5rem;
            text-align: center;
        }
        
        .footer{
            grid-template-columns: 1fr;
         
        }
        .FAQ, .Privacy, .Install{
           line-height: 20px;
        }
        .icons{
            margin-top: 30px;
        }
        .image img{
            width: 30%;
        }
    }
@media screen and (max-width:320px) and (min-width:480px){
    
}